In [1]:
%matplotlib notebook

In [2]:
%matplotlib inline

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import os
import sys
import importlib
from IPython.display import clear_output
from astropy.time import Time

In [4]:
# sys.path.append("/Users/jrobinson/atlas-phase-curves/atlas-phase-curves")
sys.path.append("/home/jer/atlas-phase-curves/atlas-phase-curves")
from calculate_phase import atlas_SQL_query_df
from calculate_phase import atlas_database_connection as adb
from calculate_phase import solar_apparitions as sa

In [5]:
importlib.reload(atlas_SQL_query_df)

In [6]:
cnx=adb.database_connection().connect()
cursor = cnx.cursor()

In [7]:
qry = "SHOW TABLES;"
pd.read_sql_query(qry,cnx)

   Tables_in_atlas_moving_objects
0                      NEO_select
1                 atlas_exposures
2                   atlas_objects
3                atlas_phase_fits
4                     day_tracker
5               dophot_photometry
6                      mba_select
7                orbfit_positions
8                orbital_elements
9        phase_curve_parameters_c
10       phase_curve_parameters_o
11                proper_elements
12              pyephem_positions
13       sherlock_classifications
14          sherlock_crossmatches
15      stats_exposure_processing
16                  stats_objects
17                       testdata

In [ ]:
qry = """select *
    from INFORMATION_SCHEMA.COLUMNS
    where TABLE_NAME='atlas_exposures'"""
pd.read_sql_query(qry,cnx)

In [ ]:
# qry = """SELECT * FROM atlas_exposures"""
# df_exp = pd.read_sql_query(qry,cnx)
# df_exp

In [ ]:
# t = Time.now()
# fname = "atlas_exposures_{:.4f}.csv".format(t.mjd)
# df_exp.to_csv(fname)

In [ ]:
df_exp = pd.read_csv("atlas_exposures_59788.3936.csv", index_col = 0)

In [ ]:
mask_null = np.isnan(df_exp["limiting_magnitude"])
df_lim = df_exp[~mask_null]
df_lim

In [8]:
df_atlas = pd.read_csv("atlas_co_exposures.tst", delim_whitespace = True)
df_atlas

,expname,object,ra,dec,mjd,filter,mag5sig,magzpt,qc,focus,...,camid,airmass,seeing,skymag,cloud,cloudrms,moonsky,nn,mangle,sourcefile
0,01a57800o0023o,SATGAL15,94.29499,-3.57453,57800.215184,o,17.46,21.374,2147483647,9472.0,...,acam2,1.213,6.880,18.40,1.008,0.069,21.0,57800,114.226,/atlas/red/01a/57800/01a57800o0023o.fits.fz
1,01a57800o0024o,SATGAL15,94.29482,-3.57469,57800.215718,o,17.55,21.363,2147483647,9472.0,...,acam2,1.211,6.786,18.43,1.005,0.071,21.0,57800,114.234,/atlas/red/01a/57800/01a57800o0024o.fits.fz
2,01a57800o0025o,SATGAL15,94.29479,-3.57474,57800.216255,o,17.62,21.366,2147483647,9472.0,...,acam2,1.209,6.882,18.47,1.006,0.066,21.0,57800,114.242,/atlas/red/01a/57800/01a57800o0025o.fits.fz
3,01a57800o0026o,SATGAL15,94.29468,-3.57478,57800.216777,o,17.74,21.386,2147483647,9472.0,...,acam2,1.207,6.719,18.54,1.005,0.064,21.0,57800,114.250,/atlas/red/01a/57800/01a57800o0026o.fits.fz
4,01a57800o0027o,SATGAL15,94.29472,-3.57477,57800.217284,o,17.76,21.397,2147483647,9472.0,...,acam2,1.205,7.167,18.67,1.007,0.054,21.0,57800,114.257,/atlas/red/01a/57800/01a57800o0027o.fits.fz
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2472014,02a59791o0790c,SJ056N50,56.12364,50.21195,59791.629666,c,17.68,22.147,516,10522.0,...,red+alien+1,1.328,5.199,18.77,1.000,0.010,21.0,59791,92.790,/atlas/red/02a/59791/02a59791o0790c.fits.fz
2472015,01a59791o0817o,SW043N33,42.63054,33.42649,59791.629903,o,17.66,22.207,4,7715.0,...,green+fuzzy+4x,1.096,5.678,17.90,1.000,0.014,21.0,59791,109.027,/atlas/red/01a/59791/01a59791o0817o.fits.fz
2472016,02a59791o0791c,SJ045N55,45.40802,55.46404,59791.630118,c,17.71,22.154,516,10524.0,...,red+alien+1,1.300,5.137,18.79,1.000,0.014,21.0,59791,96.315,/atlas/red/02a/59791/02a59791o0791c.fits.fz
2472017,01a59791o0818o,SW067N33,67.03327,33.41941,59791.630383,o,17.36,22.622,6,7718.0,...,green+fuzzy+4x,1.377,5.740,17.37,1.000,0.016,21.0,59791,90.050,/atlas/red/01a/59791/01a59791o0818o.fits.fz
2472018,02a59791o0792c,SJ054N55,54.19524,55.46258,59791.630570,c,17.87,22.589,4,10524.0,...,red+alien+1,1.370,5.131,18.96,1.000,0.019,21.0,59791,91.882,/atlas/red/02a/59791/02a59791o0792c.fits.fz

In [ ]:
df_atlas[df_atlas["expname"]=="01a58016o0492o"].iloc[0]

In [ ]:
# np.isin is very slow for large lists of strings
# set up a subset of each dataframe to compare

_df1=df_lim[["expname","limiting_magnitude"]].copy()

_df2=df_atlas[["expname","mag5sig"]].copy()

# _df1 = _df1.iloc[:10000]
# _df2 = _df2.iloc[:10000]

# create a dataframe that contains all unique names, and the dataframe that they occur in
df_merge = _df1.merge(_df2,on="expname")
df_merge["mjd"] = [int(x[3:8]) for x in df_merge["expname"]]
df_merge

In [ ]:
x_plot = "mag5sig"
y_plot = "limiting_magnitude"
c_plot = "mjd"
df_plot = df_merge


fig = plt.figure()
gs = gridspec.GridSpec(1,1)
ax1 = plt.subplot(gs[0,0])


s1 = ax1.scatter(df_plot[x_plot],df_plot[y_plot], c = df_plot[c_plot])
cbar1 = fig.colorbar(s1)
cbar1.set_label(c_plot)

ax1.plot([np.amin(df_plot[x_plot]),np.amax(df_plot[x_plot])],
        [np.amin(df_plot[x_plot]),np.amax(df_plot[x_plot])], c="r")

ax1.set_xlabel(x_plot)
ax1.set_ylabel(y_plot)

plt.show()

In [ ]:
x_plot = "mjd"
y_plot1 = "mag5sig"
y_plot2 = "limiting_magnitude"
df_plot = df_merge

fig = plt.figure()
gs = gridspec.GridSpec(1,1)
ax1 = plt.subplot(gs[0,0])

s1 = ax1.scatter(df_plot[x_plot],df_plot[y_plot2]-df_plot[y_plot1],s=1)

ax1.axvline(57855,c="k")

ax1.set_xlabel(x_plot)
ax1.set_ylabel("{}-{}".format(y_plot2,y_plot1))

plt.show()

In [ ]:
# qry = """SELECT primaryId,dateCreated,dateLastModified,mjd,expname FROM atlas_exposures WHERE limiting_magnitude is null"""
# df_null = pd.read_sql_query(qry,cnx)
df_null = df_exp[mask_null]
df_null

In [ ]:
df_null[df_null["expname"]=="01a57844o0397o"]

In [ ]:
df_atlas[df_atlas["expname"]=="01a57844o0397o"]

In [ ]:
# for i in np.arange(391125,400000,1):
#     try:
#         print(df_null.loc[i])
#         break
#     except:
#         continue

In [ ]:
df_atlas[df_atlas["expname"]=="02a59639o0244c"].iloc[0]["mag5sig"]

In [9]:
# reselect the exposures where limiting magnitude is null when rerun
# This way we don't reupdate exposures which are already fixed
qry = """SELECT expname FROM atlas_exposures where limiting_magnitude is null"""
df_null = pd.read_sql_query(qry,cnx)
df_null

               expname
0       01a57851o0638o
1       01a57851o0547o
2       01a57851o0724o
3       01a57851o0716o
4       01a57851o0663o
...                ...
926992  01a59653o0303o
926993  01a59653o0404o
926994  01a59653o0392o
926995  02a59653o0506o
926996  02a59653o0123o

[926997 rows x 1 columns]

In [10]:
len(df_atlas)

2472019

In [11]:
# combine the two sources of exposure names
_df1=df_null[["expname"]].copy()
_df1["df"] = "rockAtlas NULL"

_df2=df_atlas[["expname"]].copy()
_df2["df"] = "atlas"
              
_df = pd.concat([_df1,_df2])
_df

                expname              df
0        01a57851o0638o  rockAtlas NULL
1        01a57851o0547o  rockAtlas NULL
2        01a57851o0724o  rockAtlas NULL
3        01a57851o0716o  rockAtlas NULL
4        01a57851o0663o  rockAtlas NULL
...                 ...             ...
2472014  02a59791o0790c           atlas
2472015  01a59791o0817o           atlas
2472016  02a59791o0791c           atlas
2472017  01a59791o0818o           atlas
2472018  02a59791o0792c           atlas

[3399016 rows x 2 columns]

In [12]:
# keep only the rows that are duplicates, i.e. the exposure names that are in null list AND present in df_atlas
_df_search = _df[_df.duplicated(['expname'], keep=False)]
_df_search

                expname              df
116702   01a59029o0243o  rockAtlas NULL
116703   02a59029o0136o  rockAtlas NULL
116704   02a59029o0791c  rockAtlas NULL
116705   02a59029o0642c  rockAtlas NULL
116706   01a59029o0623o  rockAtlas NULL
...                 ...             ...
2183177  01a59653o0557o           atlas
2183178  02a59653o0946o           atlas
2183179  02a59653o0947o           atlas
2183180  02a59653o0948o           atlas
2183181  02a59653o0949o           atlas

[1585866 rows x 2 columns]

In [13]:
_df_search[_df_search["expname"]=="01a57800o0484o"]

Empty DataFrame
Columns: [expname, df]
Index: []

In [13]:
df_search = _df_search[_df_search["df"]=="rockAtlas NULL"]
df_search

               expname              df
116702  01a59029o0243o  rockAtlas NULL
116703  02a59029o0136o  rockAtlas NULL
116704  02a59029o0791c  rockAtlas NULL
116705  02a59029o0642c  rockAtlas NULL
116706  01a59029o0623o  rockAtlas NULL
...                ...             ...
926992  01a59653o0303o  rockAtlas NULL
926993  01a59653o0404o  rockAtlas NULL
926994  01a59653o0392o  rockAtlas NULL
926995  02a59653o0506o  rockAtlas NULL
926996  02a59653o0123o  rockAtlas NULL

[792933 rows x 2 columns]

In [ ]:
df_atlas[df_atlas["expname"]=="01a57851o0638o"]

In [14]:
from IPython.display import clear_output

In [ ]:
df = df_search

for i in range(len(df)):
        
#     if i>20:
#         break
            
    expname = df.iloc[i]["expname"]
    
    try:
        mag5sig = df_atlas[df_atlas["expname"]==expname].iloc[0]["mag5sig"]
    except:
        print("{}, {} mag5sig not found".format(i,expname), end='\r')
        continue

    qry = """UPDATE atlas_exposures
            SET limiting_magnitude={}
            WHERE expname='{}'""".format(mag5sig,expname)

    print(i, qry, end='\r')

    cursor.execute(qry)
    cnx.commit()

    clear_output(wait=True)

23892 UPDATE atlas_exposures
            SET limiting_magnitude=14.99